{% extends 'base.html' %}

{% block content %}

<h2 class="h1 text-center w-50 mx-auto mt-1 pt-5 pb-2"><strong>{{ goal.icon }}<br/>Преподаватели,</strong></h2>
<h5 class="text-center mx-auto mt-1 pb-2 mb-3">которые помогут вам улучшить английский {{ goal.text }}</h5>
<h5 class="text-center mx-auto mt-1 pb-5"> Всего найдено: {{ teachers|length }} </h5>
<div class="w-75 m-auto mt-5">

    {% for teacher_id, teacher in teachers.items() %}

        <div class="card mb-4 shadow p-3 bg-white rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"><img src="{{ teacher.picture }}" class="img-fluid"></div>
                    <div class="col-9">
                        <p class="float-right">Рейтинг: <b>{{ teacher.rating }}</b> Ставка: <b>{{ teacher.price }} / час</b></p>
                        <h5 class="font-weight-bolder">{{ teacher.name }}</h5>
                        <p class="text-justify">{{ teacher.about }}</p>
                        <a href="{{ url_for('profile', id=teacher_id) }}" class="btn btn-primary btn-sm mr-3">Записаться на пробный урок</a>
                        <a href="{{ url_for('message', id=teacher_id) }}" class="btn btn-outline-primary btn-sm">Отправить сообщение</a>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

</div>

</div>

{% endblock %}
