{% extends 'base.html' %}

{% block content %}

    <h2 class="h1 text-center w-50 mx-auto mt-4 py-5"><strong>Найдите идеального репетитора английского, занимайтесь онлайн</strong></h2>

    <div class="text-center mb-5">
        <div class="btn-group mx-auto mb-0" role="group" aria-label="Basic example">
          <a type="button" class="btn btn-outline-secondary">
              <i class="fas fa-umbrella-beach"></i> ⛱Для путешествий
          </a>
          <a href="/goals/school" type="button" class="btn btn-outline-secondary">🏫 Для школы</a>
          <a href="/goals/work" type="button" class="btn btn-outline-secondary">🏢 Для работы</a>
          <a href="/goals/relocation" type="button" class="btn btn-outline-secondary">🚜 Для переезда</a>
        </div>
    </div>

    <h5 class="text-center mb-5">Свободны прямо сейчас</h5>

    <div class="w-75 m-auto">
    {% for teacher_id, teacher in teachers.items() %}

        <div class="card mb-4 shadow p-3 bg-white rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"><img src="../static/pict 1.png" class="img-fluid"></div>
                    <div class="col-9">
                        <p class="float-right">Рейтинг: <b>{{ teacher.rating }}</b> Ставка: <b>{{ teacher.price }} / час</b></p>
                        <h5 class="font-weight-bolder">{{ teacher.name }}</h5>
                        <p class="text-justify">{{ teacher.about }}</p>
                        <a href="/booking/{{ teacher_id }}" class="btn btn-primary btn-sm mr-3">Записаться на пробный урок</a>
                        <a href="/message/{{ teacher_id }}" class="btn btn-outline-primary btn-sm">Отправить сообщение</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>

{% endblock %}