{% extends 'base.html' %}

{% block content %}

        <div class="card my-5  mx-auto ">

            <div class="card-body m-4">
                <div class="row">
                    <div class="col-5"><img src="../static/pict 1.png" class="img-fluid"></div>
                    <div class="col-7">
                        <h3 class="font-weight-bolder">{{ teacher.name }}</h3>
                        <p>
                            {% for goal in teacher.goals %}
                                <span class="badge badge-warning mr-2">for {{ goal }}</span>
                            {% endfor %}
                            Рейтинг: ☺️{{ teacher.rating }} Ставка: {{ teacher.price }} / час
                        </p>
                        <p>{{ teacher.about }}</p>
                            <br> <br>
                        <a href="#" class="btn btn-outline-secondary btn-sm ">Отправить сообщение</a>
                    </div>
                </div>
            </div>
<hr>
            <div class="card-body  mx-4 mt-4">
                <h2 class="mb-4">Записаться на пробный урок</h2>
                <table class="table">

                    <tr>
                        <th>#</th>
                        <th>Пн</th>
                        <th>Вт</th>
                        <th>Ср</th>
                        <th>Чт</th>
                        <th>Пт</th>
                        <th>Сб</th>
                        <th>Вс</th>
                    </tr>

                    <tr>
                        <td><span class="btn">8:00</span></td>
                        <td><a href="" class="btn btn-sm btn-secondary">8:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">8:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">8:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">8:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">8:00</a></td>
                        <td>–</td>
                        <td>–</td>
                    </tr>
                    <tr>
                        <td><span class="btn">10:00</span></td>
                        <td><a href="" class="btn btn-sm btn-secondary">10:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">10:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">10:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">10:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">10:00</a></td>
                        <td>–</td>
                        <td>–</td>
                    </tr>
                   <tr>
                        <td><span class="btn">12:00</span></td>
                        <td><a href="" class="btn btn-sm btn-secondary">12:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">12:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">12:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">12:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">12:00</a></td>
                        <td>–</td>
                        <td>–</td>
                    </tr>
                   <tr>
                        <td><span class="btn">14:00</span></td>
                        <td><a href="" class="btn btn-sm btn-secondary">14:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">14:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">14:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">14:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">14:00</a></td>
                        <td>–</td>
                        <td>–</td>
                    </tr>
                   <tr>
                        <td><span class="btn">16:00</span></td>
                        <td><a href="" class="btn btn-sm btn-secondary">16:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">16:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">16:00</a></td>
                        <td><a href="" class="btn btn-sm btn-success">16:00</a></td>
                        <td><a href="" class="btn btn-sm btn-secondary">16:00</a></td>
                        <td>–</td>
                        <td>–</td>
                    </tr>

                </table>
            </div>


        </div>

{% endblock %}