{% extends 'base.html' %}

{% block content %}

<div class="row mt-5">
    <div class="col-6 offset-3">

        <div class="card-body shadow text-center pt-5">
            <img src="{{ tutor.avatar }}" class="mb-3" width="150" alt="">
            <h4 class="card-title mt-2 mb-2">{{ tutor.name }}</h4>
            <p class="my-1">Отправить сообщение</p>

            <form action="" class="card p-4 my-5 text-left" method="POST">
                <div class="form-group">
                    {{ form.sender_name.label }}
                    {{ form.sender_name(class="form-control", placeholder="Фамилия Имя Отчество") }}
                </div>
                <div class="form-group">
                    {{ form.sender_phone.label }}
                    {{ form.sender_phone(class="form-control", type="tel", placeholder="+7 (XXX) XXX XXXX") }}
                </div>
                <div class="form-group">
                    {{ form.text.label }}
                    {{ form.text(class="form-control", type="text", placeholder="Скажите что-нибудь...") }}
                </div>
                    {{ form.submit(class="btn btn-primary btn-block") }}
            </form>
        </div>
    </div>
</div>

{% endblock %}