{% extends 'base.html' %}

{% block content %}

<div class="row mt-5">
    <div class="col-6 offset-3">

        <form action="" class="card mb-3" method="post">

            <!-- Заголовок в виде карточки -->
            <div class="card-body text-center pt-5">
                <h3 class="card-title mt-4 mb-2">Подбор преподавателя</h3>
                <p class="px-5">Напишите, чего вам нужно  и мы подберем отличных ребят</p>
            </div>
            <!--Окончание заголовка-->

            <hr/>

            <!--Блок радиокнопок в виде карточки с двумя колонками-->
            <div class="card-body mx-3">

                <div class="row">

                    <div class="col">
                        <!--Блок радиокнопок-->
                        <div class="form-check">
                            <p>{{ form.goal.label }}</p>
                            {% for subfield in form.goal %}
                                {{ subfield(class="form-check-input", type="radio") }}
                                {{ subfield.label(class="form-check-label") }}<br>
                            {% endfor %}
                         </div>
                    </div>

                    <div class="col">
                        <!--Блок радиокнопок-->
                        <div class="form-check">
                            <p>{{ form.time_available.label }}</p>
                            {% for subfield in form.time_available %}
                                {{ subfield(class="form-check-input", type="radio") }}
                                {{ subfield.label(class="form-check-label") }}<br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            <!--Закрытие карточки с двумя колонками радиокнопок-->

            <hr>

            <div class="card-body mx-2">
                  <div class="form-group">
                      {{ form.student_name.label }}
                      {{ form.student_name(class="form-control", placeholder="Фамилия Имя Отчество") }}
                  </div>
                  <div class="form-group">
                      {{ form.phone_number.label }}
                      {{ form.phone_number(class="form-control", type="tel", placeholder="+7 (XXX) XXX XXXX") }}
                  </div>
                       {{ form.submit(class="btn btn-primary") }}
            </div>

        </form>

    </div>
</div>

{% endblock %}