{% extends 'base.html' %}

{% block content %}

<!-- Класс для выстраивания контента в один ряд-->

<div class="row mt-5">
    <div class="col-6 offset-3">

        <form action="" class="card mb-3" method="post">

            <!-- Заголовок в виде карточки -->
            <div class="card-body text-center pt-5">
                <h3 class="card-title mt-4 mb-2">Подбор преподавателя</h3>
                <p class="px-5">Напишите, чего вам нужно  и мы подберем отличных ребят</p>
            </div>
            <!--Окончание заголовка-->

            <hr/>

            <!--Блок радиокнопок в виде карточки с двумя колонками-->
            <div class="card-body mx-3">

                <!--Задаём ряд-->
                <div class="row">

                    <!--Блок первой колонки-->
                    <div class="col">
                        <p>Какая цель занятий?</p>

                        <!--Блок радиокнопок-->
                        {% for goal in goals %}
                        <div class="form-check ">
                            <input type="radio" class="form-check-input" name="goal" value="{{ goal.text_en }}" required>
                                {{ goal.text_ru }}
                        </div>
                        {% endfor %}
                        <!--Окончание блока радиокнопок-->
                    </div>
                    <!--Окончание блока первой колонки-->

                    <!--Блок второй колонки-->
                    <div class="col">
                        <p>Сколько времени есть?</p>

                        <!--Блок радиокнопок-->
                        <div class="form-check ">
                            <input type="radio" class="form-check-input" name="time" value="1-2"  required> 1-2 часа в неделю
                        </div>
                        <div class="form-check ">
                            <input type="radio" class="form-check-input" name="time" value="3-5" required> 3-5 часов в неделю
                        </div>
                        <div class="form-check ">
                            <input type="radio" class="form-check-input" name="time" value="5-7" required> 5-7 часов в неделю
                        </div>
                        <div class="form-check ">
                            <input type="radio" class="form-check-input" name="time" value="7-10" required> 7-10 часов в неделю
                        </div>
                        <!--Окончание блока радиокнопок-->
                    </div>
                    <!--Окончание блока первой колонки-->
                </div>
            </div>
            <!--Закрытие карточки с двумя колонками радиокнопок-->

            <hr>

            <div class="card-body mx-3">

                <label for="user_name" class="mb-1 mt-2">Вас зовут</label>
                <input name="user_name" id="user_name" class="form-control" type="text" placeholder="Имя Фамилия" required>

                <label for="phone" class="mb-1 mt-2">Ваш телефон</label>
                <input name="phone" id="phone" class="form-control" type="text" placeholder="+7 (XXX) XXX XXXX" required>

                <input type="submit" class="btn btn-primary mt-4" value="Найдите мне преподавателя">

            </div>

        </form>

    </div>
</div>

{% endblock %}