{% extends 'base.html' %}

{% block content %}

    <!-- HERO -->

<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="card mb-3" >


            <div class="card-body text-center pt-5">
                <img src="../static/check.png" class="mb-3" width="65" alt="">
                <h3 class="card-title mt-4 mb-2">{{ data['user name'] }}, спасибо за вашу заявку!</h3>
                <p>Скоро мы вам перезвоним</p>
            </div>

            <hr/>

            <div class="card-body mx-5">
                <p><b>Подбор преподавателя:</b></p>
                <p><b>Основная цель занятий:</b> {{ data.goal }} </p>
                <p><b>Часов в неделю:</b> {{ data.time }} </p>
                <p><b>Ученик:</b> {{ data['user name'] }} </p>
                <p><b>Телефон:</b> {{ data.phone }} </p>
            </div>

        </div>

    </div>
</div>


{% endblock %}